:root {
  --primary-color: white;
  --background-color: rgb(64, 64, 64);
  --hover-color: rgb(111, 111, 111);

  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: var(--primary-color);
}

html {
  box-sizing: border-box;
}

body {
  height: auto;
}

input[type="text"] {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  resize: none;
  outline: none;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Courier New", Courier, monospace;
}

button {
  background: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  height: 2rem;
  width: 5rem;
}

button:hover {
  background: var(--hover-color);
  cursor: pointer;
}

button:active {
  color: var(--background-color);
  background: var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--background-color);
}

.user-area {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 7rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.input {
  height: 5rem;
  width: 65vw;
  border: none;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEXTBOX */
#input {
  height: 5rem;
  width: 65vw;
  z-index: -1;
  border: 4px dashed var(--primary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
}

.input::after {
  content: "+";
  position: absolute;
  left: -6px;
  top: -13px;
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 3px;
  z-index: 1;
}

.input::before {
  content: "+";
  position: absolute;
  right: -6px;
  top: -13px;
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 3px;
  z-index: 1;
}

.input .input-inner::after {
  content: "+";
  position: absolute;
  left: -6px;
  bottom: -11px;
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 3px;
  z-index: 1;
}

.input .input-inner::before {
  content: "+";
  position: absolute;
  right: -6px;
  bottom: -11px;
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 3px;
  z-index: 1;
}

/* ARROW DOWN */

.ascii-arrow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  width: 10%;
  text-align: center;
  position: relative;
}

.ascii-arrow p {
  text-align: center;
  font-weight: bold;
}

.output {
  height: 40rem;
  width: 65vw;
  border: 4px dashed var(--primary-color);
  margin: 0 auto;
  position: relative;
}

.output::after {
  content: "+";
  position: absolute;
  left: -6px;
  top: -13px;
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 3px;
  z-index: 1;
}

.output::before {
  content: "+";
  position: absolute;
  right: -6px;
  top: -13px;
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 3px;
  z-index: 1;
}

.output .output-inner::after {
  content: "+";
  position: absolute;
  left: -6px;
  bottom: -11px;
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 3px;
  z-index: 1;
}

.output .output-inner::before {
  content: "+";
  position: absolute;
  right: -6px;
  bottom: -11px;
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 3px;
  z-index: 1;
}

.input::after,
.input::before,
.input .input-inner::after,
.input .input-inner::before,
.output::after,
.output::before,
.output .output-inner::after,
.output .output-inner::before {
  font-weight: bold;
}
